//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 14 15:04:37 2017
//! **************************************************************************

SCHEMATIC START;
COMP "saveA" LOCATE = SITE "A7" LEVEL 1;
COMP "saveB" LOCATE = SITE "M4" LEVEL 1;
COMP "switchIn<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "switchIn<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "switchIn<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "switchIn<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "switchIn<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "switchIn<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "switchIn<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "SYS_CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "switchIn<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "Signed" LOCATE = SITE "G12" LEVEL 1;
COMP "ALU_Display<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "ALU_Display<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "ALU_Display<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "ALU_Display<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "ALU_Display<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "ALU_Display<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "ALU_Display<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "ALU_Display<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "Add_Sub" LOCATE = SITE "C11" LEVEL 1;
NET "SYS_CLK_BUFGP/IBUFG" BEL "SYS_CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

