//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 30 14:14:03 2017
//! **************************************************************************

SCHEMATIC START;
COMP "CE" LOCATE = SITE "A7" LEVEL 1;
COMP "D<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "D<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "D<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "D<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "D<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "D<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "Q<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "D<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "Q<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "D<7>" LOCATE = SITE "N3" LEVEL 1;
COMP "Q<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "Q<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "C" LOCATE = SITE "C8" LEVEL 1;
COMP "CLR" LOCATE = SITE "C11" LEVEL 1;
NET "C_BUFGP/IBUFG" BEL "C_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

